{% extends "base.html" %}
{% block content %}

<h1>All albums</h1>

<center>
<p><a href="{% url 'add_album' %}">Add New Album</a></p>
</center>
<div class= "everything"> 
  {% for album in albums %}
<div class="flex">

     
       
    <img src= "{{album.image_url}}" >
     
         
    <h2>{{ album.albumtitle }}  
      
     {{ album.artistname }}</h2>
<br>  
     <h3> {{ album.released }} </h3>
    
 
    <center>
        
   <p>
      <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
      <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Contact</a>
    </p>

    </center>
<br>

</div>
  {% endfor %}

</div>
{% endblock %}






