{% extends "base.html" %}
{% block content %}
<div class= "everything"> 
<h1>All albums</h1>


<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<div class="flex">
  {% for album in albums %}

       
  <aside>       
    <img src= "{{album.image_url}}" >
     
  </aside>       
    <h2>{{ album.albumtitle }}</h2>  
      
     {{ album.artistname }}
  
      {{ album.released }}
    
 

   <p>
      <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
      <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Contact</a>
    </p>


<br>


  {% endfor %}
</div>
</div>
{% endblock %}






